body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    width: 800px;
    margin: auto;
}
h2.titulo{
    text-align: center;
}
div.borda{
    border-radius: 20px;
    background-color: rgb(184, 184, 171);
    margin: auto;
    padding: 30px;
}
form{
    padding: 15px 0px 0px 15px;
}
legend{
    font-style: normal;
}
input[label]{
    width: 50px;
}